#withdrawal{
    background-color: darkgrey;
}
#button{
    /* border: 2px solid black; */
    margin-left: 600px;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}
#button label input{
        width: 200px;
}
#btn1{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
#btn2{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
#depositTable{
    width: 100%;
    border-spacing: 5px;

}
#depositTable tr{
    border-spacing: 5px;
    border: 2px solid black;
    
}